.container-content {
  margin: 30px;
}
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
h2,
h1,
p,
span,
a {
  font-family: "Permanent Marker", cursive;
  font-style: normal;
  color: white;
}
.blocco {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.hidden {
  opacity: 1;
  transform: translateY(20px);
}
