.container-prog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.image {
  width: 100%;
  max-width: 100%;
  height: auto; /* Mantiene il rapporto di aspetto */
  object-fit: contain;
}

.card-text {
  padding-bottom: 10px;
}

.card {
  width: 90%; /* Adatta la larghezza della card all'80% del contenitore */
  max-width: 35rem; /* Limita la larghezza massima */
  height: auto; /* Flessibilità per altezza */
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .card {
    width: 100%; /* Occupa tutta la larghezza del contenitore */
    height: auto; /* Permetti all'altezza di adattarsi */
    margin: 0.5rem; /* Riduci i margini per spazi ristretti */
  }
  .card-text {
    height: auto; /* Adatta il testo alla dimensione disponibile */
  }
}
@media (max-width: 768px) {
  .container-prog {
    flex-direction: column;
    align-items: stretch; /* Allinea le card a tutta la larghezza */
  }
}
