P {
  font-family: monospace;
  font-weight: bolder;
  font-size: large;
}
.container-profile {
  display: flex;
  align-items: center;
  display: none;
}

img.profile-image {
  width: 300px;
  border-radius: 5%;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 10px 30px;
  transition: all 1.5s;
  margin: 20px;
}
img.profile-image:hover {
  scale: 1.1;
}
.text-part {
  margin: 20px;
  width: 400px;
}
