.profilo {
  margin-bottom: 5rem;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.3);
}

p {
  text-align: justify;
  padding: 3%;
}
@media (min-width: 1200px) {
  .profilo p {
    font-size: 1.4rem;
  }
  .profile-image {
    width: 200px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .profilo {
    display: flex;
    flex-direction: column;
  }
  .profilo p {
    font-size: 1.3rem;
  }
}

@media (max-width: 767px) {
  .profilo {
    display: flex;
    flex-direction: column;
  }
  .profilo p {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
}

img.profile-image {
  border-radius: 10px;
  width: 300px;
  height: 350px;
  transition: all 1.5s;
  background-color: transparent;
}

img.profile-image:hover {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 30px;
}

.col4 {
  border-radius: 10px;
}
span {
  font-size: x-large;
  font-weight: bolder;
  margin: 5rem 0rem;
}
