.sidebar {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}
.name-image {
  width: 32%;
  margin: 10px auto;
}
.animated-arrow {
  animation: arrow-animation 2s infinite;
  margin-top: 50px;
  width: 10%;
}

@keyframes arrow-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 767px) {
  .name-image {
    width: 70%;
  }
}
