.sidebar {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}

.name-image {
  width: 32%;
  margin: 10px auto;
}

.animated-arrow {
  animation: arrow-animation 2s infinite;
  margin-top: 50px;
  width: 10%;
}

@keyframes arrow-animation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    margin: 2rem auto;
    padding: 1rem;
  }

  .name-image {
    width: 50%;
    margin: 10px 0;
  }

  .animated-arrow {
    width: 20%;
    margin-top: 30px;
  }
}
