.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  /* width: 20%; */
  display: flex;
  flex-direction: column;
  align-items: baseline;
  box-shadow: -19px 19px 50px -4px rgba(255, 255, 255, 1);
  background-color: rgb(255, 255, 255);
}
.image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.name-image {
}
.nav-link {
  display: flex;
  gap: 10px;
  text-decoration: none;
  font-size: 15pt;
  padding: 15px;
  color: #ffffff;
  transition: 0.2s ease-in-out;
}
/* @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

img.jumbotron-image {
  width: 10%;
  animation: rotate 3s infinite;
  will-change: transform;
}
img.jumbotron-image .nav-link:hover {
  color: #007bff;
  scale: 1.1;
}
