* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-image: url("./assets/sfondo-inverso.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-container {
  @media (max-width: 368px) {
    .app-container {
      padding: 20px;
    }
  }
}
