* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./assets/sfondo\ -\ inverso.jpg"); /* Assumendo WebP come formato ottimizzato */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed; /* Se desideri che lo sfondo rimanga fisso durante lo scorrimento */
}
